@use "../../assets/mixin" as m;

.registration {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image form";
  overflow: hidden;

  &-image {
    grid-area: image;
    width: inherit;
    height: inherit;

    .image {
      object-position: center;
      object-fit: cover;
      width: inherit;
      height: inherit;
    }
  }

  &-container {
    grid-area: form;
    width: 100%;
    height: 100%;
    background-color: #000;
    @include m.flex();
    // border: #ff0 solid 0.1rem;

    &-box {
      // border: #ff0 solid 0.1rem;
      padding-top: 5rem;
      width: 80%;
      height: 100%;
      @include m.flex($direction: column);
      gap: 2rem;

      .registration-top {
        @include m.flex($justify: space-between);
        width: 100%;

        .back {
          color: #fff;
          font-size: 2rem;
          transition: 0.75s transform;

          &:hover,
          &:active,
          &:focus {
            transform: translateX(-0.5rem);
          }
        }

        .registration-title {
          // border: #ff0 solid 0.1rem;
          @include m.flex($justify: flex-end);
          letter-spacing: 0.1rem;
          font-weight: 900;
          color: #fff;
          font-size: 2rem;
          text-transform: uppercase;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            right: -4rem;
            width: 0.5rem;
            height: 3rem;
            background-color: #fff;
          }
        }
      }

      .registration-form {
        // border: #f00 solid 0.1rem;
        width: 100%;
        height: 100%;
        @include m.flex($justify: flex-start, $direction: column);
        gap: 1rem;

        &-row {
          // border: #f00 solid 0.1rem;
          width: 100%;
          height: fit-content;
          position: relative;
          @include m.flex($direction: column, $align: flex-start);

          input {
            font-size: 1.1rem;
            width: 100%;
            height: 3.3rem;
            border: 0;
            border-bottom: rgba($color: #fff, $alpha: 0.5) solid 0.15rem;
            padding-top: 1rem;
            outline: 0;
            color: #fff;
            z-index: 5;
            background-color: transparent;
            transition: all 0.75s;
            font-weight: 900;

            &::placeholder {
              color: transparent;
            }

            &:placeholder-shown ~ label {
              font-size: 1.1rem;
              top: 1.25rem;
            }

            &:focus,
            &:hover {
              font-weight: 900;
              border-color: #fff;
              border-width: 0.25rem;
              border-image-slice: 1;

              & ~ label {
                top: 0;
                color: #fff;
                font-size: 0.9rem;
                font-weight: 900;
                transition: all 0.75s;
              }
            }

            &:required,
            &:invalid {
              box-shadow: none;
            }
          }

          label {
            position: absolute;
            top: 0;
            color: rgba($color: #fff, $alpha: 0.5);
            display: block;
            font-size: 0.9rem;
            z-index: 1;
            transition: all 0.75s;
          }
        }

        button {
          transition: all 0.75s;
          background-color: transparent;
          width: 30%;
          height: 2.8rem;
          margin-top: 1.5rem;
          font-size: 1.1rem;
          text-transform: uppercase;
          letter-spacing: 0.075rem;
          outline: 0;
          border: 0.15rem rgba($color: #fff, $alpha: 0.5) solid;
          color: rgba($color: #fff, $alpha: 0.5);

          &:hover {
            // background-color: rgba($color: #fff, $alpha: 0.5);
            background-color: #fff;
            border: 0;
            color: #000;
          }
        }

        .have-account {
          color: rgba($color: #fff, $alpha: 0.5);
          text-align: center;
          transition: all 0.75s;
          @include m.flex();
          gap: .2rem;
          // border: #f00 solid 0.1rem;

          &:hover {
            color: #fff;

            .to-login {
              color: rgba($color: #fff, $alpha: 0.5);
            }
          }

          .to-login {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bolder;
            // border: #f00 solid 0.1rem;

            &:hover {
              color: rgba($color: #fff, $alpha: 0.5);
            }
          }
        }
      }
    }
  }
}

.toast {
  width: 30vw;
}

.error-message {
  list-style: none;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
