@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav-nav {
  padding: 3%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.nav-nav .nav-logo {
  font-family: "Poiret One", cursive;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
  color: #fff;
  text-decoration: none;
}
.nav-nav .nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.8rem;
  z-index: 5;
}
.nav-nav .nav-ul .nav-li {
  position: relative;
  list-style: none;
}
.nav-nav .nav-ul .nav-li::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  transform: translateX(-50%);
  background-color: #fff;
  display: inline-block;
  width: 0.275rem;
  height: 0.275rem;
  border-radius: 50%;
  transform: scale(0);
}
.nav-nav .nav-ul .nav-li:hover::before {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.nav-nav .nav-ul .nav-li .nav-link {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.nav-nav .nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
  z-index: 5;
}
.nav-nav .nav-icon .material-symbols-outlined {
  color: #fff;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  text-decoration: none;
}

.hero {
  height: 34rem;
  width: 100%;
  position: relative;
}
.hero-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 5;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 6.4rem;
}
.hero-title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
}
.hero-title-text-0 {
  font-family: "Noto Serif", serif;
  font-size: 8rem;
  font-weight: 700;
}
.hero-title-text-1 {
  font-family: "Bodoni Moda", serif;
  font-weight: 300;
  font-size: 4rem;
}
.hero .hero-animation-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: -2rem;
  right: 25.4rem;
  width: 105rem;
  rotate: -45deg;
}
.hero .hero-animation-0 .hero-animation-image {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1) brightness(50%);
}
.hero .hero-animation-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: -12rem;
  right: 9.2rem;
  width: 105rem;
  rotate: -45deg;
}
.hero .hero-animation-1 .hero-animation-image {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1) brightness(50%);
}
.hero .hero-animation-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: -22rem;
  right: -7rem;
  width: 105rem;
  rotate: -45deg;
}
.hero .hero-animation-2 .hero-animation-image {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1) brightness(50%);
}

.hotsale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.hotsale-title {
  width: 100%;
  padding: 8% 6% 6%;
}
.hotsale-title-text {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 6rem;
  font-size: 7rem;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
}
.hotsale-title-text-0 {
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
}
.hotsale-title-text-1 {
  font-weight: 200;
  font-family: "Archivo", sans-serif;
}
.hotsale .carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hotsale .carousel-box {
  position: relative;
  flex: 1 0 33.3333333333%;
  width: 33.3333333333%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.hotsale .carousel .control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0 4%;
  top: 45%;
}
.hotsale .carousel .control .next {
  border: 0;
  background: none;
  cursor: pointer;
}
.hotsale .carousel .control .next .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 3.2rem;
  color: #fff;
}
.hotsale .carousel .control .prev {
  border: 0;
  background: none;
  cursor: pointer;
}
.hotsale .carousel .control .prev .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 3.2rem;
  color: #fff;
}

.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.catalog-title {
  width: 100%;
  padding: 8% 6% 6%;
}
.catalog-title-text {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 7rem;
  line-height: 6rem;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
}
.catalog-title-text-0 {
  font-weight: 200;
  font-family: "Archivo", sans-serif;
}
.catalog-title-text-1 {
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
}
.catalog-product {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  padding: 0 6%;
}
.catalog-product .catalog-box {
  background-color: #fff;
  position: relative;
}
.catalog-product .catalog-box .fullscreen-image {
  width: 100%;
  height: 22rem;
  position: relative;
}
.catalog-product .catalog-box .fullscreen-image .box-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: filter 0.5s;
}
.catalog-product .catalog-box .fullscreen-image .box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.catalog-product .catalog-box .fullscreen-image .box-icon .love {
  font-size: 2rem;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 100, "opsz" 24;
  transform: scale(1);
  transition: transform 0.2s ease-in;
}
.catalog-product .catalog-box .fullscreen-image .box-icon .love:hover, .catalog-product .catalog-box .fullscreen-image .box-icon .love:focus, .catalog-product .catalog-box .fullscreen-image .box-icon .love:active {
  transform: scale(1.2);
  color: #ff0000;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 100, "opsz" 24;
}
.catalog-product .catalog-box .fullscreen-image .box-icon .love.clicked {
  color: #ff0000;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 100, "opsz" 24;
}
.catalog-product .catalog-box .fullscreen-image .box-icon .info {
  font-size: 2rem;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 100, "opsz" 24;
  transform: scale(1);
  transition: transform 0.2s ease-in;
}
.catalog-product .catalog-box .fullscreen-image .box-icon .info:hover, .catalog-product .catalog-box .fullscreen-image .box-icon .info:active, .catalog-product .catalog-box .fullscreen-image .box-icon .info:focus {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 100, "opsz" 24;
  transform: scale(1.2);
}
.catalog-product .catalog-box .fullscreen-image .box-icon .back {
  display: none;
}
.catalog-product .catalog-box .fullscreen-image:hover .box-image {
  filter: brightness(0.5) grayscale(1);
}
.catalog-product .catalog-box .fullscreen-image:hover .box-icon {
  opacity: 1;
}
.catalog-product .catalog-box .box-desc {
  display: none;
}
.catalog-product .fullscreen {
  display: grid;
  grid-template-areas: "image desc";
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 999;
}
.catalog-product .fullscreen .fullscreen-image {
  position: absolute;
  grid-area: image;
  width: 100%;
  height: 100%;
}
.catalog-product .fullscreen .fullscreen-image .box-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.catalog-product .fullscreen .fullscreen-image .box-icon .back {
  position: absolute;
  top: 5%;
  left: 7%;
  display: inline-block;
  font-size: 2rem;
  transition: transform 0.5s;
}
.catalog-product .fullscreen .fullscreen-image .box-icon .back:hover, .catalog-product .fullscreen .fullscreen-image .box-icon .back:active, .catalog-product .fullscreen .fullscreen-image .box-icon .back:focus {
  transform: translateX(-0.5rem);
}
.catalog-product .fullscreen .box-desc {
  display: inline-block;
  padding: 2%;
  grid-area: desc;
}

.product {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

.about {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
}

.registration {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image form";
  overflow: hidden;
}
.registration-image {
  grid-area: image;
  width: inherit;
  height: inherit;
}
.registration-image .image {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
  height: inherit;
}
.registration-container {
  grid-area: form;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.registration-container-box {
  padding-top: 5rem;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.registration-container-box .registration-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.registration-container-box .registration-top .back {
  color: #fff;
  font-size: 2rem;
  transition: 0.75s transform;
}
.registration-container-box .registration-top .back:hover, .registration-container-box .registration-top .back:active, .registration-container-box .registration-top .back:focus {
  transform: translateX(-0.5rem);
}
.registration-container-box .registration-top .registration-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  letter-spacing: 0.1rem;
  font-weight: 900;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
}
.registration-container-box .registration-top .registration-title::before {
  content: "";
  position: absolute;
  right: -4rem;
  width: 0.5rem;
  height: 3rem;
  background-color: #fff;
}
.registration-container-box .registration-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.registration-container-box .registration-form-row {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.registration-container-box .registration-form-row input {
  font-size: 1.1rem;
  width: 100%;
  height: 3.3rem;
  border: 0;
  border-bottom: rgba(255, 255, 255, 0.5) solid 0.15rem;
  padding-top: 1rem;
  outline: 0;
  color: #fff;
  z-index: 5;
  background-color: transparent;
  transition: all 0.75s;
  font-weight: 900;
}
.registration-container-box .registration-form-row input::-moz-placeholder {
  color: transparent;
}
.registration-container-box .registration-form-row input::placeholder {
  color: transparent;
}
.registration-container-box .registration-form-row input:-moz-placeholder-shown ~ label {
  font-size: 1.1rem;
  top: 1.25rem;
}
.registration-container-box .registration-form-row input:placeholder-shown ~ label {
  font-size: 1.1rem;
  top: 1.25rem;
}
.registration-container-box .registration-form-row input:focus, .registration-container-box .registration-form-row input:hover {
  font-weight: 900;
  border-color: #fff;
  border-width: 0.25rem;
  border-image-slice: 1;
}
.registration-container-box .registration-form-row input:focus ~ label, .registration-container-box .registration-form-row input:hover ~ label {
  top: 0;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 900;
  transition: all 0.75s;
}
.registration-container-box .registration-form-row input:required, .registration-container-box .registration-form-row input:invalid {
  box-shadow: none;
}
.registration-container-box .registration-form-row label {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 0.9rem;
  z-index: 1;
  transition: all 0.75s;
}
.registration-container-box .registration-form button {
  transition: all 0.75s;
  background-color: transparent;
  width: 30%;
  height: 2.8rem;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  outline: 0;
  border: 0.15rem rgba(255, 255, 255, 0.5) solid;
  color: rgba(255, 255, 255, 0.5);
}
.registration-container-box .registration-form button:hover {
  background-color: #fff;
  border: 0;
  color: #000;
}
.registration-container-box .registration-form .have-account {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  transition: all 0.75s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.2rem;
}
.registration-container-box .registration-form .have-account:hover {
  color: #fff;
}
.registration-container-box .registration-form .have-account:hover .to-login {
  color: rgba(255, 255, 255, 0.5);
}
.registration-container-box .registration-form .have-account .to-login {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
}
.registration-container-box .registration-form .have-account .to-login:hover {
  color: rgba(255, 255, 255, 0.5);
}

.toast {
  width: 30vw;
}

.error-message {
  list-style: none;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image form";
  overflow: hidden;
}
.login-image {
  grid-area: image;
  width: inherit;
  height: inherit;
}
.login-image .image {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
  height: inherit;
}
.login-container {
  grid-area: form;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.login-container-box {
  padding-top: 5rem;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.login-container-box .login-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.login-container-box .login-top .back {
  color: #fff;
  font-size: 2rem;
  transition: 0.75s transform;
}
.login-container-box .login-top .back:hover, .login-container-box .login-top .back:active, .login-container-box .login-top .back:focus {
  transform: translateX(-0.5rem);
}
.login-container-box .login-top .login-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  letter-spacing: 0.1rem;
  font-weight: 900;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
}
.login-container-box .login-top .login-title::before {
  content: "";
  position: absolute;
  right: -4rem;
  width: 0.5rem;
  height: 3rem;
  background-color: #fff;
}
.login-container-box .login-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.login-container-box .login-form-row {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.login-container-box .login-form-row input {
  font-size: 1.1rem;
  width: 100%;
  height: 3.3rem;
  border: 0;
  border-bottom: rgba(255, 255, 255, 0.5) solid 0.15rem;
  padding-top: 1rem;
  outline: 0;
  color: #fff;
  z-index: 5;
  background-color: transparent;
  transition: all 0.75s;
  font-weight: 900;
}
.login-container-box .login-form-row input::-moz-placeholder {
  color: transparent;
}
.login-container-box .login-form-row input::placeholder {
  color: transparent;
}
.login-container-box .login-form-row input:-moz-placeholder-shown ~ label {
  font-size: 1.1rem;
  top: 1.25rem;
}
.login-container-box .login-form-row input:placeholder-shown ~ label {
  font-size: 1.1rem;
  top: 1.25rem;
}
.login-container-box .login-form-row input:focus, .login-container-box .login-form-row input:hover {
  font-weight: 900;
  border-color: #fff;
  border-width: 0.25rem;
  border-image-slice: 1;
}
.login-container-box .login-form-row input:focus ~ label, .login-container-box .login-form-row input:hover ~ label {
  top: 0;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 900;
  transition: all 0.75s;
}
.login-container-box .login-form-row input:required, .login-container-box .login-form-row input:invalid {
  box-shadow: none;
}
.login-container-box .login-form-row label {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 0.9rem;
  z-index: 1;
  transition: all 0.75s;
}
.login-container-box .login-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 1.5rem;
}
.login-container-box .login-form-button button {
  transition: all 0.75s;
  background-color: transparent;
  width: 30%;
  height: 2.8rem;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  outline: 0;
  border: 0.15rem rgba(255, 255, 255, 0.5) solid;
  color: rgba(255, 255, 255, 0.5);
}
.login-container-box .login-form-button button .icon-google {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.35rem;
}
.login-container-box .login-form-button button .icon-google .google {
  font-size: 1.5rem;
}
.login-container-box .login-form-button button:hover {
  background-color: #fff;
  border: 0;
  color: #000;
}
.login-container-box .login-form .have-account {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  transition: all 0.75s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.2rem;
}
.login-container-box .login-form .have-account:hover {
  color: #fff;
}
.login-container-box .login-form .have-account:hover .to-login {
  color: #ff0;
}
.login-container-box .login-form .have-account .to-login {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
}

.toast {
  width: 30vw;
}

.error-message {
  list-style: none;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h3 {
  color: #fff;
}

@media (max-width: 768px) {
  * {
    font-size: 50%;
  }
}
.page404 {
  background-color: #fff;
  height: 100vh;
}

.st0 {
  fill: #fff;
}

.st2 {
  fill: #5d89af;
}

.st3 {
  fill: #709abf;
}

.st4,
.st6 {
  fill: #fff;
  stroke: #b3dcdf;
  stroke-miterlimit: 10;
}

.st6 {
  stroke: #5d89af;
  stroke-width: 2;
}

.st7,
.st8,
.st9 {
  stroke: #709abf;
  stroke-miterlimit: 10;
}

.st7 {
  stroke-width: 5;
  stroke-linecap: round;
  fill: none;
}

.st8,
.st9 {
  fill: #fff;
}

.st9 {
  fill: none;
}

#cloud1 {
  animation: cloud003 15s linear infinite;
}

#cloud2 {
  animation: cloud002 25s linear infinite;
}

#cloud3 {
  animation: cloud003 20s linear infinite;
}

#cloud4 {
  animation: float 4s linear infinite;
}

#cloud5 {
  animation: float 8s linear infinite;
}

#cloud7 {
  animation: float 5s linear infinite;
}

#tracks {
  animation: slide 650ms linear infinite;
}

#bumps {
  animation: land 10000ms linear infinite;
}

@keyframes jig {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
#car-layers {
  animation: jig 0.35s linear infinite;
}

@keyframes land {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1000px);
  }
}
@keyframes slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}
/* @keyframes cloudFloat {
    0% { transform: translateX(0) translateY(3px); }
    100% { transform: translateX(1000px) translateY(0); }
  } */
@keyframes cloud001 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }
  100% {
    transform: translateX(1000px) translateY(0);
  }
}
@keyframes cloud002 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }
  100% {
    transform: translateX(1000px) translateY(0);
  }
}
@keyframes cloud003 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }
  100% {
    transform: translateX(1000px) translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0px) translateX(0);
  }
  50% {
    transform: translateY(8px) translateX(5px);
  }
  100% {
    transform: translateY(0px) translateX(0);
  }
}
#bracefront,
#braceback {
  animation: braces 1s linear infinite;
}

@keyframes braces {
  0% {
    transform: translateX(-2px);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-2px);
  }
}
.layout {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: grid;
  grid-template-areas: "sidebar topbar" "sidebar content";
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 11vh 1fr;
}
.layout .sidebar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 11vh 1fr auto;
  grid-template-columns: 1fr;
  grid-area: sidebar;
  background-color: #000;
}
.layout .sidebar-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.layout .sidebar-header .logo {
  color: #fff;
  font-family: "Poiret One", cursive;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
}
.layout .sidebar-menu {
  width: 100%;
  padding: 8% 8% 8% 6%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.layout .sidebar-menu .container-menu {
  width: 100%;
  transition: all 0.3s;
  border-radius: 1.5rem;
}
.layout .sidebar-menu .container-menu .menu {
  transition: all 0.3s;
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 2.25rem;
  gap: 0.5rem;
  padding-left: 5%;
  text-decoration: none;
  color: #fff;
}
.layout .sidebar-menu .container-menu .menu .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.layout .sidebar-menu .container-menu .menu-text {
  font-weight: 600;
}
.layout .sidebar-menu .container-menu .menu:hover, .layout .sidebar-menu .container-menu .menu:active, .layout .sidebar-menu .container-menu .menu:focus {
  background-color: #fff;
  color: #000;
}
.layout .sidebar-menu .container-menu.active, .layout .sidebar-menu .container-menu:hover, .layout .sidebar-menu .container-menu:active, .layout .sidebar-menu .container-menu:focus {
  background-color: #fff;
  color: #000;
}
.layout .sidebar-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 5vw 1fr 3vw;
  grid-template-rows: 1fr;
  padding: 2% 0;
}
.layout .sidebar-footer .image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.layout .sidebar-footer .image-user {
  -o-object-fit: cover;
     object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.layout .sidebar-footer .user {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.layout .sidebar-footer .user-name {
  color: #fff;
  font-size: 0.95rem;
}
.layout .sidebar-footer .user-email {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
}
.layout .sidebar-footer .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.layout .sidebar-footer .logout .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 28;
  color: #fff;
}
.layout .topbar {
  width: 100%;
  height: 100%;
  grid-area: topbar;
  background-color: #fff;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.layout .topbar-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.layout .topbar-menu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.layout .topbar-menu .menu-icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.layout .topbar-menu .menu-text {
  font-weight: 600;
  font-size: 0.9rem;
}
.layout .topbar-search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.layout .topbar-search .search {
  width: 20vw;
  height: 5vh;
  padding-left: 5%;
}
.layout .topbar-search .search-input {
  width: inherit;
  height: inherit;
  border: 0;
  outline: 0;
}
.layout .topbar-activity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 0.5vw;
  width: 100%;
  height: 100%;
}
.layout .topbar-activity .notification {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.layout .topbar-activity .message {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.layout .topbar-activity .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.layout .topbar-activity .image-user {
  -o-object-fit: cover;
     object-fit: cover;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
.layout .content {
  width: 100%;
  height: 100%;
  grid-area: content;
  background-color: rgba(0, 0, 0, 0.1);
}

.test-dasshboard {
  color: chartreuse;
}

.roles {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 10%;
  gap: 7.5%;
}
.roles-container-seller {
  position: relative;
}
.roles-container-seller .seller {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  transition: all 1s ease-in-out;
}
.roles-container-seller .seller .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 10vw;
  z-index: 5;
  transition: transform 0.5s ease-in-out;
}
.roles-container-seller .seller .roles-text {
  z-index: 5;
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  transition: transform 0.5s ease-in-out;
}
.roles-container-seller .swap {
  width: 100%;
  height: 100%;
  background-color: #ff0;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s transform ease-in-out;
  z-index: 3;
}
.roles-container-seller:hover .seller, .roles-container-seller:focus .seller {
  position: absolute;
  color: #000;
}
.roles-container-seller:hover .seller .material-symbols-outlined, .roles-container-seller:focus .seller .material-symbols-outlined {
  z-index: 5;
  transform: translateY(-0.5rem);
}
.roles-container-seller:hover .seller .roles-text, .roles-container-seller:focus .seller .roles-text {
  z-index: 5;
  transform: translateY(-0.5rem);
}
.roles-container-seller:hover .swap, .roles-container-seller:focus .swap {
  transform-origin: bottom;
  transform: scaleY(1);
}
.roles-container-buyer {
  position: relative;
}
.roles-container-buyer .buyer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  transition: all 1s ease-in-out;
}
.roles-container-buyer .buyer .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 10vw;
  z-index: 5;
  transition: transform 0.5s ease-in-out;
}
.roles-container-buyer .buyer .roles-text {
  z-index: 5;
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  transition: transform 0.5s ease-in-out;
}
.roles-container-buyer .swap {
  width: 100%;
  height: 100%;
  background-color: #ff0;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s transform ease-in-out;
  z-index: 3;
}
.roles-container-buyer:hover .buyer, .roles-container-buyer:focus .buyer {
  position: absolute;
  color: #000;
}
.roles-container-buyer:hover .buyer .material-symbols-outlined, .roles-container-buyer:focus .buyer .material-symbols-outlined {
  z-index: 5;
  transform: translateY(-0.5rem);
}
.roles-container-buyer:hover .buyer .roles-text, .roles-container-buyer:focus .buyer .roles-text {
  z-index: 5;
  transform: translateY(-0.5rem);
}
.roles-container-buyer:hover .swap, .roles-container-buyer:focus .swap {
  transform-origin: bottom;
  transform: scaleY(1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  cursor: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #000;
}

.cursor {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
}

.cursor-follow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border: 0.05rem solid #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: #000;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Asap", sans-serif;
  color: #fff;
}